<!DOCTYPE html>
<html lang="lv">
<head>
<meta charset="UTF-8">
</head>
<body id="spele" onload="pieskaitaPunktu();">

 <script>
  let laiks = Math.floor(Math.random()*61); 

  function pieskaitaPunktu() {
    let vards=prompt("Ievadi savu vardu!");
    let s={"vards":vards,"punkti":laiks}; //izveido objektu s, kas satur vārdu un iegūtos punktus (laiku)
    dabutRezultatuTabulu(s, paraditRezultatuTabulu); 
    //izsauc funkciju dabutRezultatu, līdzi dodot 2 parametrus - objektu s un tās funkcijas nosaukumu, 
    //kurai vēlāk, kad rezultāti būs dabūti no servera, tie būs jāparāda web lapā kā saraksts
    // Te ir tā mums jaunā JavaScript lieta, ka funkcijai var līdzi padot funkciju!
  }

  //šī funkcija saņem no servera atsūtīto vārdu un puktu masīvu kā parametru rez
  function paraditRezultatuTabulu(rez){
    let saraksts=document.createElement("OL");
    for (var r in rez){        // r ir viena rinda masīvā rez, tā satur 2 kolonnas "vards" un "punkti"
      let viens=document.createElement("LI");
      viens.innerHTML=rez[r]["vards"]+" "+rez[r]["punkti"];
      saraksts.appendChild(viens);
    }
    document.getElementById("spele").appendChild(saraksts);
  }

  // šī funkcija saņem 2 parametrus - objektu o un funkciju fnKadTabulaDabuta, kura būs jāpilda, kad serveris atbildēs
  function dabutRezultatuTabulu(o, fnKadTabulaDabuta){
    var urla = new URL("https://alynxserver.herokuapp.com:443/api/rezultati"); //URL tipa objekts, tam jānorāda, kurš Python route serverī būs jāpilda. 
    // Cikls, izmantojot lambdas, kurš pieliek URL objektam katru līdzi iedotā objekta o lauku
    // var arī bez cikla 2 append komandas, bet māte Google piedāvāja šādu piemēru
    Object.keys(o).forEach(key => urla.searchParams.append(key,o[key]));
    // pati svarīgākā komanda - fetch, tā aizņem vairākas rindas un beidzas ar ;
    // fetch izveido jaunu pieprasījumu (Request) uz adresi, kas ir objektā urla
    // tajā urla objekta līdzi iet arī vārds un punkti
    // ja serveris atsūta atbildi (then((resp..) tad saņemto pārveido json formā laikam(?)
    // un tikai tad, ja mums ir dabūti dati (then ((data..), tad testēšanas nolūkam tos var izvadīt pārlūkprogrammas konsolē
    // un tad beidzot izsaukt funkciju, kuras nosaukums tika padots līdzi.
    // šajā gadījumā tā ir funkcija fnKadTabulaDabuta (jeb paraditRezultatuTabulu), un tai dod līdzi no servera routes rezultati saņemtos datus
    fetch(new Request(urla))
      .then((resp)=>resp.json())
      .then((data)=>{
        console.log(data.rezultati);
        fnKadTabulaDabuta(data.rezultati);
     });
  }

</script>
</body>
</html>
